body {
    display: flex;
    justify-content: center;
    background-image: url(images/bg.png);

}

#wrapper {
    max-width: 925px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    text-align: right;
    border-bottom: 4px solid lightblue;
}

#logo img {
    padding-top: 42px;
    max-width: 100px;
}

.title {
    font-family: 'Permanent Marker', cursive;
    color: rgb(114, 171, 190);
}

#nametitle {
    flex: 1;
}

h1 {
    font-weight: normal;
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 0px;
}

h2 {
    font-weight: 100;
    font-size: 1.42em;
    margin-top: 0px;
    margin-bottom: 5px;
}

#featureimage img {
    padding-top: 20px;
    max-width: 100%;
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 1.3em;
}

#featurework {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.bookname {
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
    font-size: 1.1em;
    font-weight: 100;
}

.genre {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: .9em;
}

.work a {
    color: rgba(43, 43, 43, 0.377);
    text-decoration: none;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
  }

#featurework img {
    max-width: 60%;
  }

  .work a:hover {
    color: rgba(49, 49, 49, 0.158);
    text-decoration: none;
    font-weight: 500;
  }

#synopsistop {
      display: flex;
      flex: 1;
  }

#synopsistop img {
    max-width: 100%;
    }
  
.synopsis {
    margin-top: 0px;
    margin-left: 10px;
  }  

@media only screen and (max-width: 635px) {  
    .work {
        flex-basis: 100%;
    }
    #featurework img {
        max-width: 40%;
    }
    h4 {
        font-size: .9em;
    }
}

