body {
    background-color: rgb(231, 231, 231);
    background-image: url('assets/bgg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    font-family: 'Press Start 2P', cursive;
    font-size: 100%;
    color: white;
}

a {
    color: white;
    text-decoration-line: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

a:hover {
    color: grey;
    
}

#screenspace {
    display: flex;
    justify-content: center;
}

#list {
    list-style-type: none;
    position: absolute;
    bottom: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    width: 435px;
}

li {
    padding-left: 20px;
    padding-top: 10px;
}

.writing {
    padding-top: 180px;
}
