body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    background-color: black;
    color: white;
}

ul {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

li {
    padding: 25px;
}

a {
    color: rgb(200, 200, 200);
    text-decoration-line: none;

}

a:hover {
    color: grey;
}
