body {
    display: flex;
    justify-content: center;
}

#wrapper {
    max-width: 900px;
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    text-align: right;
    border-bottom: 4px solid lightblue;
    
}

#logo img {
    padding-top: 50px;
    padding-left: 485px;
    max-width: 50px;
}

#nametitle {
    flex: 5;
    font-family: 'Press Start 2P', cursive;
    color: rgb(114, 171, 190);
}

h1 {
    font-weight: normal;
    font-size: 2.2em;
    margin-bottom: 0px;
    margin-top: 50px;
}

h2 {
    font-weight: 100;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 25px;
}

#featureimage img {
    padding-top: 20px;
    max-width: 100%;
}

#featurework {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#featurework img {
    max-width: 100%;
}

.work {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 750px) {  
    .work {
        flex-basis: 100%;
    }
    #featurework img {
        max-width: 65%;
    }
}