body {
    display: flex;
    justify-content: center;
}

#wrapper {
    max-width: 925px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    text-align: right;
    border-bottom: 4px solid lightblue;
}

#logo img {
    padding-top: 50px;
    max-width: 50px;
}

.title {
    font-family: 'Press Start 2P', cursive;
    color: rgb(114, 171, 190);
}

#nametitle {
    flex: 5;

}

h1 {
    font-weight: normal;
    font-size: 2.2em;
    margin-bottom: 0px;
    margin-top: 50px;
}

h2 {
    font-weight: 100;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 25px;
}

#featureimage img {
    padding-top: 20px;
    max-width: 100%;
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 1.1em;
}

#featurework {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#featurework img {
    max-width: 100%;
}

.work {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
}

h4 {
    margin-bottom: 8px;
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: .7em;
    font-weight: 100;
}

.work a {
    color: rgba(43, 43, 43, 0.377);
    text-decoration: none;
    font-weight: 500;
  }

  .work a:hover {
    color: rgba(49, 49, 49, 0.158);
    text-decoration: none;
    font-weight: 500;
  }

@media only screen and (max-width: 750px) {  
    .work {
        flex-basis: 100%;
    }
    #featurework img {
        max-width: 65%;
    }
    h4 {
        font-size: .9em;
    }
}

@media only screen and (max-width: 450px) {  
    #logo img {
        max-width: 100px;
    }
    h4 {
        font-size: .7em;
    }
}