body {
    display: flex;
    justify-content: center;
}

#wrapper {
    max-width: 900px;
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    text-align: right;
    border-bottom: 4px solid lightblue;
}

#logo img {
    padding-top: 15px;
    max-width: 85px;
}

#nametitle {
    flex: 5;
}

#featureimage img {
    padding-top: 20px;
    max-width: 100%;
}

h3 {

}

#featurework {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#featurework img {
    max-width: 100%;
}

.work {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 750px) {  
    .work {
        flex-basis: 100%;
    }
    #featurework img {
        max-width: 65%;
    }
}