body {
    background-color: black;
    background-image: url('assets/bg2.png');
}

h1 {
    color: white;
    font-size: 400%;
    font-family: 'Metal Mania';
}

#body {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    border: 3px solid rgba(255,255,255, 0.5);
}